* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v27_3 {
  width: 100%;
  height: 1080px;
  background: url("../images/v27_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_16 {
  width: 100%;
  height: 1080px;
  background: url("../images/v8_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_33 {
  width: 100%;
  height: 100%;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_17 {
  width: 100%;
  height: 100px;
  background: url("../images/v1_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_15 {
  width: 179px;
  color: url("../images/v1_15.png");
  position: absolute;
  top: 22px;
  left: 1660px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_39 {
  width: 78px;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 114px;
  overflow: hidden;
}
.v1_40 {
  width: 78px;
  height: 78px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_41 {
  width: 72px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 28px;
  overflow: hidden;
}
.v1_42 {
  width: 70px;
  height: 70px;
  background: url("../images/v1_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_43 {
  width: 70px;
  height: 70px;
  background: url("../images/v1_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_44 {
  width: 70px;
  height: 70px;
  background: url("../images/v1_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_45 {
  width: 70px;
  height: 70px;
  background: url("../images/v1_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_46 {
  width: 70px;
  height: 70px;
  background: rgba(168,130,191,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v27_17 {
  width: 729px;
  color: url("../images/v27_17.png");
  position: absolute;
  top: 176px;
  left: 595px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v27_26 {
  width: 145px;
  height: 145px;
  background: url("src/html-css-starter-files/test/images/v27_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 667px;
  overflow: hidden;
}
.v27_27 {
  width: 145px;
  height: 145px;
  background: url("src/html-css-starter-files/test/images/v27_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 1108px;
  overflow: hidden;
}
.v27_28 {
  width: 145px;
  height: 145px;
  background: url("src/html-css-starter-files/test/images/v27_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 1108px;
  overflow: hidden;
}
.v27_29 {
  width: 145px;
  height: 145px;
  background: url("src/html-css-starter-files/test/images/v27_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 226px;
  overflow: hidden;
}
.v27_30 {
  width: 145px;
  height: 145px;
  background: url("src/html-css-starter-files/test/images/v27_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 667px;
  overflow: hidden;
}
.v27_31 {
  width: 145px;
  height: 145px;
  background: url("src/html-css-starter-files/test/images/v27_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 1549px;
  overflow: hidden;
}
.v27_32 {
  width: 145px;
  height: 145px;
  background: url("src/html-css-starter-files/test/images/v27_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 1549px;
  overflow: hidden;
}
.v27_33 {
  width: 145px;
  height: 145px;
  background: url("src/html-css-starter-files/test/images/v27_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 226px;
  overflow: hidden;
}
.v27_34 {
  width: 143px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 562px;
  left: 227px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v27_35 {
  width: 239px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 562px;
  left: 620px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v27_36 {
  width: 281px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 562px;
  left: 1040px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v27_38 {
  width: 439px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 562px;
  left: 1402px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v27_39 {
  width: 289px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 907px;
  left: 154px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v27_40 {
  width: 198px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 907px;
  left: 641px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v27_41 {
  width: 253px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 904px;
  left: 1054px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v27_42 {
  width: 312px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 904px;
  left: 1466px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
