* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v18_65 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_257 {
  width: 100%;
  height: 1080px;
  background: url("../images/v18_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_258 {
  width: 100%;
  height: 100%;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_259 {
  width: 100%;
  height: 100px;
  background: url("../images/v18_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v18_261 {
  width: 179px;
  color: url("../images/v18_261.png");
  position: absolute;
  top: 22px;
  left: 1660px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_262 {
  width: 78px;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 114px;
  overflow: hidden;
}
.v18_263 {
  width: 78px;
  height: 78px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_264 {
  width: 72px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 28px;
  overflow: hidden;
}
.v18_265 {
  width: 70px;
  height: 70px;
  background: url("../images/v18_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v18_266 {
  width: 70px;
  height: 70px;
  background: url("../images/v18_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_267 {
  width: 70px;
  height: 70px;
  background: url("../images/v18_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_268 {
  width: 70px;
  height: 70px;
  background: url("../images/v18_268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_269 {
  width: 70px;
  height: 70px;
  background: rgba(168,130,191,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_243 {
  width: 100%;
  height: 858px;
  background: url("../images/v18_243.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 480px;
  overflow: hidden;
}
.v18_163 {
  width: 961px;
  height: 858px;
  background: url("../images/v18_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_111 {
  width: 830px;
  height: 84px;
  background: url("../images/v18_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 65px;
  overflow: hidden;
}
.v18_66 {
  width: 434px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 0px;
  left: 198px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v18_96 {
  width: 166px;
  height: 60px;
  background: url("../images/v18_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v18_68 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 106px;
  overflow: hidden;
}
.v18_69 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v18_70 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_71 {
  width: 32px;
  height: 59px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_95 {
  width: 90px;
  height: 60px;
  background: url("../images/v18_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_87 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v18_88 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v18_89 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_90 {
  width: 32px;
  height: 59px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_91 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_92 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v18_93 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_94 {
  width: 32px;
  height: 59px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_97 {
  width: 164px;
  height: 60px;
  background: url("../images/v18_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 830px;
  overflow: hidden;
}
.v18_98 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  overflow: hidden;
}
.v18_99 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v18_100 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_101 {
  width: 32px;
  height: 59px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_102 {
  width: 90px;
  height: 60px;
  background: url("../images/v18_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_103 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v18_104 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v18_105 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_106 {
  width: 32px;
  height: 59px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_107 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_108 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v18_109 {
  width: 32px;
  height: 59px;
  background: url("../images/v18_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_110 {
  width: 32px;
  height: 59px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_162 {
  width: 961px;
  height: 741px;
  background: url("../images/v18_162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  overflow: hidden;
}
.v18_150 {
  width: 961px;
  height: 683px;
  background: url("../images/v18_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
  overflow: hidden;
}
.v18_164 {
  width: 961px;
  height: 137px;
  background: url("../images/v18_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 0px;
  overflow: hidden;
}
.v18_165 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_166 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 823px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_167 {
  width: 137px;
  height: 137px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 686px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_168 {
  width: 137px;
  height: 137px;
  background: rgba(174,174,174,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 550px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_169 {
  width: 137px;
  height: 137px;
  background: rgba(168,130,191,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 138px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_170 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 412px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_171 {
  width: 137px;
  height: 137px;
  background: rgba(202,182,214,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 275px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_126 {
  width: 961px;
  height: 137px;
  background: url("../images/v18_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 0px;
  overflow: hidden;
}
.v18_127 {
  width: 137px;
  height: 137px;
  background: rgba(202,182,214,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_128 {
  width: 137px;
  height: 137px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 823px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_129 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 686px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_130 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 550px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_131 {
  width: 137px;
  height: 137px;
  background: rgba(174,174,174,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 138px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_132 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 412px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_133 {
  width: 137px;
  height: 137px;
  background: rgba(174,174,174,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 275px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_134 {
  width: 961px;
  height: 137px;
  background: url("../images/v18_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 0px;
  overflow: hidden;
}
.v18_135 {
  width: 137px;
  height: 137px;
  background: rgba(168,130,191,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_136 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 823px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_137 {
  width: 137px;
  height: 137px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 686px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_138 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 550px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_139 {
  width: 137px;
  height: 137px;
  background: rgba(168,130,191,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 138px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_140 {
  width: 137px;
  height: 137px;
  background: rgba(174,174,174,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 412px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_141 {
  width: 137px;
  height: 137px;
  background: rgba(202,182,214,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 275px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_142 {
  width: 961px;
  height: 137px;
  background: url("../images/v18_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 0px;
  overflow: hidden;
}
.v18_143 {
  width: 137px;
  height: 137px;
  background: rgba(168,130,191,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_144 {
  width: 137px;
  height: 137px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 823px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_145 {
  width: 137px;
  height: 137px;
  background: rgba(202,182,214,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 686px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_146 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 550px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_147 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 138px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_148 {
  width: 137px;
  height: 137px;
  background: rgba(174,174,174,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 412px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_149 {
  width: 137px;
  height: 137px;
  background: rgba(202,182,214,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 275px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_125 {
  width: 960px;
  height: 237px;
  background: url("../images/v18_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_117 {
  width: 137px;
  height: 137px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_119 {
  width: 137px;
  height: 137px;
  background: rgba(128,163,132,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 823px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_120 {
  width: 137px;
  height: 137px;
  background: rgba(97,188,103,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 686px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_174 {
  width: 27px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 42px;
  left: 739px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_175 {
  width: 27px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 42px;
  left: 878px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_176 {
  width: 27px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 178px;
  left: 56px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_177 {
  width: 27px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 178px;
  left: 188px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_178 {
  width: 27px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 177px;
  left: 330px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_179 {
  width: 27px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 181px;
  left: 469px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_181 {
  width: 27px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 182px;
  left: 604px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_121 {
  width: 137px;
  height: 137px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 550px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_122 {
  width: 137px;
  height: 137px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 138px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_123 {
  width: 137px;
  height: 137px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 412px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_124 {
  width: 137px;
  height: 137px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 275px;
  border: 4px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_173 {
  width: 27px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 42px;
  left: 604px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_161 {
  width: 885px;
  height: 68px;
  background: url("../images/v18_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 35px;
  overflow: hidden;
}
.v18_151 {
  width: 67px;
  color: rgba(97,188,103,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_153 {
  width: 71px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 0px;
  left: 136px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_154 {
  width: 54px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 0px;
  left: 282px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_155 {
  width: 69px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 0px;
  left: 411px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_156 {
  width: 57px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 0px;
  left: 555px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_157 {
  width: 43px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 0px;
  left: 696px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_158 {
  width: 56px;
  color: rgba(97,188,103,1);
  position: absolute;
  top: 0px;
  left: 829px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_187 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 490px;
  left: 179px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_188 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 490px;
  left: 317px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_189 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 490px;
  left: 453px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_190 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 490px;
  left: 591px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_191 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 490px;
  left: 726px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_192 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 490px;
  left: 870px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_193 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 625px;
  left: 52px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_194 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 625px;
  left: 179px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_195 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 624px;
  left: 316px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_196 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 624px;
  left: 453px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_197 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 622px;
  left: 591px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_198 {
  width: 65px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 622px;
  left: 731px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_199 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 622px;
  left: 868px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_200 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 762px;
  left: 52px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_201 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 762px;
  left: 179px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_202 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 762px;
  left: 317px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_203 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 762px;
  left: 453px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_204 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 762px;
  left: 591px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_205 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 762px;
  left: 726px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_206 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 762px;
  left: 870px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_184 {
  width: 27px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 356px;
  left: 741px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_185 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 352px;
  left: 870px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_186 {
  width: 54px;
  color: rgba(250,250,250,1);
  position: absolute;
  top: 490px;
  left: 52px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v18_212 {
  width: 224px;
  height: 42px;
  background: url("../images/v18_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 1087px;
  overflow: hidden;
}
.v18_209 {
  width: 37px;
  height: 38px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,187,187,1);
  overflow: hidden;
}
.v18_210 {
  width: 168px;
  color: rgba(168,130,191,1);
  position: absolute;
  top: 0px;
  left: 56px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v18_211 {
  width: 23px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 7px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v18_233 {
  width: 35px;
  height: 35px;
  background: url("../images/v18_233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 815px;
  left: 225px;
  overflow: hidden;
}
.v18_234 {
  width: 35px;
  height: 35px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v18_235 {
  width: 22px;
  height: 22px;
  background: url("src/html-css-starter-files/calendar/images/v18_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v18_236 {
  width: 35px;
  height: 35px;
  background: url("../images/v18_236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 543px;
  left: 777px;
  overflow: hidden;
}
.v18_237 {
  width: 35px;
  height: 35px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v18_238 {
  width: 23px;
  height: 23px;
  background: url("src/html-css-starter-files/calendar/images/v18_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}
.v18_216 {
  width: 35px;
  height: 35px;
  background: url("../images/v18_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 498px;
  overflow: hidden;
}
.v18_217 {
  width: 35px;
  height: 35px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v18_218 {
  width: 22px;
  height: 22px;
  background: url("src/html-css-starter-files/calendar/images/v18_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v18_239 {
  width: 35px;
  height: 35px;
  background: url("../images/v18_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 543px;
  left: 740px;
  overflow: hidden;
}
.v18_240 {
  width: 35px;
  height: 35px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v18_241 {
  width: 22px;
  height: 22px;
  background: url("src/html-css-starter-files/calendar/images/v18_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
