/* Body Elements */
* {
    font-family: Roboto, sans-serif;
}


.body {
  display:grid;
  grid-template-columns: 65% auto;
  grid-template-rows: 100%;
  width: 100vw;
  height: 100vw;
}

.window {
  display: block;
  height: 100vw;
}

.chat {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, 1fr);
    grid-auto-flow: column;
    height:44.6vw;
    font-size: 30px;
    color: #eaeaea;
}

.box {
    display: flex;
    width: 100%;
    height: 100%;
    background: #dadedf;
    border: 1px solid #b8b8b8;
    z-index: 9999;
    grid-row-end: 11;
    color: #000000;
}

.textarea {
    display: inline-block;
    width: 80%;
    height: 95%;
    font-size: 20px;
}

.send-button {
    display: inline-block;
    width: 20%;
    height: 100%;
    background: #4CAF50;
    color: #ffffff;
    font-size: 20px;
}

.side-window {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr;
    grid-auto-flow: column;
    height:100vw;
    font-size: 30px;
    color: #eaeaea;
}

.side-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    width: 100%;
    height: 100%;
    background: #dadedf;
    border: 1px solid #b8b8b8;
    z-index: 9999;

}

.side-button-container {
    width: 100%;
    height: 100%;
    background: #dadedf;
    z-index: 9999;
    color: #000000;
}

.end-button {
    display: inline-block;
    position: relative;
    left: 5%;
    bottom: 8%;
    width: 60%;
    height: 40%;
    background: #A882BF;
    color: #ffffff;
    font-size: 30px;
    border: none;
}

.report-button {
    display: inline-block;
    position: relative;
    top: 9%;
    left: 7%;
    width: 30%;
    height: 40%;
    background: url("../images/report.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: none;
    opacity: 1;
}

.facts-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 40%;
    color: #000000;
}

.facts {
    display: block;
    height: 100%;
    text-align: center;
    color: #A882BF;
}

