* {
    text-decoration: none;
}

#title {
    color: #A882BF;
    font-size: 70px;
    text-align: center;
    font-weight: normal;
    top: 5%;
}

#form {
    text-align: center;
}
label, input {
    display: block;
    position: relative;
}

label {
    color: #61BC67;
    font-size: 40px;
    display: block;
    text-align: center;
}

select {
    font-size: 20px;
    height: 40px;
    color: #AEAEAE;
    background-color: #e5e5e5;
    border: none;
}

textarea {
    margin-top: 2%;
    margin-left: 5%;
    width: 200px;
    background-color: #e5e5e5;
    color: #AEAEAE;
    border: none;
    font-size: 15px;
}

input {
    background-color: #61BC67;
    color: rgb(250, 250, 250);
    position: relative;
    border: none;
    font-size: 30px;
    width: 10%;
    height: 100%;
    left: 45%;

}



